<div class="jumbotron">
  <div class="container">
    <center>  
    <h1>Snip your link!</h1>
    <p><%= render 'form' %></p>
    </center>
  </div>
</div>
 
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>About</h1>
    </div>
    <h4>Emasculately is Bit.ly on steroids </h4>    
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Contact</h1>
    </div>
  </div>
  <center> 
    <h4>Don't contact us </h4>    
    <%= image_tag "go-figure.jpg" %>
  </center>
  <hr class="invisible">
</div>

